name: Build iOS

on:
  workflow_dispatch:
    inputs:
      skip_build:
        description: 'Skip iOS build?'
        required: false
        default: 'false'

jobs:
  build-ios:
    if: ${{ github.event.inputs.skip_build != 'true' }}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'
          bundler-cache: true
      - name: Run iOS tests
        run: |
          cd ios
          bundle exec fastlane test
      - name: Build iOS app
        run: |
          cd ios
          bundle exec fastlane build
      - name: Upload iOS Build
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: ios/TemplateReactNativeNewArch.ipa
