name: Build Android

on:
  workflow_dispatch:
    inputs:
      skip_build:
        description: 'Skip Android build?'
        required: false
        default: 'false'

jobs:
  build-android:
    if: ${{ github.event.inputs.skip_build != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.6'
          bundler-cache: true
      - name: Run Android tests
        run: |
          cd android
          bundle exec fastlane test
      - name: Build Android app
        run: |
          cd android
          bundle exec fastlane build
      - name: Upload Android Build
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: android/app/build/outputs/apk/production/release/app-production-release.apk
